# Creating DB for exploratory data analysis

## Setting up common parameters

In [22]:
import sqlalchemy as sqla
import pandas as pd

In [23]:
db_file_path = "/Users/kschan/Documents/Education/Advanced Professional Certificate in Data Science and AI/Project/personal/db/world-athletics-performances.db"
engine = sqla.create_engine(f'duckdb:///{db_file_path}')

In [24]:
csv_folder_path = "/Users/kschan/Documents/Education/Advanced Professional Certificate in Data Science and AI/Project/personal/data/"

## Importing all_disciplines_combined

In [25]:
csv_file_path_all_disciplines_combined = f"{csv_folder_path}all_disciplines_combined.csv"
df_all_disciplines_combined = pd.read_csv(csv_file_path_all_disciplines_combined)
df_all_disciplines_combined.describe()

/var/folders/z4/k337dp752ps394_2zb54m5jc0000gn/T/ipykernel_5623/4119893718.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_all_disciplines_combined = pd.read_csv(csv_file_path_all_disciplines_combined)

,rank,wind,result_score,mark_numeric,age_at_event,season
count,502672.000000,149360.000000,492638.000000,502672.000000,490043.000000,502672.000000
mean,8227.083941,0.453139,1128.473212,697.689593,24.724006,2008.934196
std,7733.872118,0.939282,69.819573,2071.808719,4.516987,11.913370
min,1.000000,-9.200000,0.000000,1.900000,-14.000000,1935.000000
25%,1933.000000,-0.100000,1107.000000,10.280000,22.000000,2001.000000
50%,5942.000000,0.500000,1139.000000,21.030000,24.000000,2011.000000
75%,12255.000000,1.200000,1168.000000,63.100000,28.000000,2019.000000
max,36702.000000,2.000000,1382.000000,17995.000000,52.000000,2025.000000

In [26]:
df_all_disciplines_combined.head()

,rank,mark,wind,competitor,dob,nationality,position,venue,date,result_score,discipline,type,sex,age_cat,normalized_discipline,track_field,mark_numeric,venue_country,age_at_event,season
0,1,12.72,1.0,Sasha ZHOYA,2002-06-25,FRA,1,"Moi International Sports Centre, Kasarani, Nai...",2021-08-21,NaN,110m-hurdles-990cm,hurdles,male,u20,110-metres-hurdles,track,12.72,KEN,19.0,2021
1,1,12.8,0.3,Aries MERRITT,1985-07-24,USA,1,"Boudewijnstadion, Bruxelles (BEL)",2012-09-07,1294.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.80,BEL,27.0,2012
2,2,12.81,1.8,Grant HOLLOWAY,1997-11-19,USA,1sf1,"Hayward Field, Eugene, OR (USA)",2021-06-26,1292.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.81,USA,23.0,2021
3,3,12.84,1.6,Devon ALLEN,1994-12-12,USA,1,"Icahn Stadium, New York, NY (USA)",2022-06-12,1286.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.84,USA,27.0,2022
4,4,12.86,2.0,Grant HOLLOWAY,1997-11-19,USA,1,"Hayward Field, Eugene, OR (USA)",2024-06-28,1282.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.86,USA,26.0,2024

In [27]:
df_all_disciplines_combined.to_sql('all_disciplines_combined', con=engine, if_exists='replace', index=True)

/opt/anaconda3/envs/dsai_project/lib/python3.13/site-packages/duckdb_engine/__init__.py:184: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(

-1

## Importing individual_events

In [28]:
csv_file_path_individual_events = f"{csv_folder_path}individual_events.csv"
df_individual_events = pd.read_csv(csv_file_path_individual_events)
df_individual_events.describe()

/var/folders/z4/k337dp752ps394_2zb54m5jc0000gn/T/ipykernel_5623/1468181302.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_individual_events = pd.read_csv(csv_file_path_individual_events)

,rank,wind,result_score,mark_numeric,age_at_event,season
count,496909.000000,149360.000000,487427.000000,496909.000000,490043.000000,496909.000000
mean,8318.496767,0.453139,1127.892045,703.933789,24.724006,2008.924797
std,7731.536543,0.939282,69.873331,2082.876755,4.516987,11.905942
min,1.000000,-9.200000,0.000000,1.900000,-14.000000,1935.000000
25%,2027.000000,-0.100000,1106.000000,10.280000,22.000000,2001.000000
50%,6053.000000,0.500000,1138.000000,20.700000,24.000000,2011.000000
75%,12398.000000,1.200000,1167.000000,62.840000,28.000000,2019.000000
max,36702.000000,2.000000,1382.000000,17995.000000,52.000000,2025.000000

In [29]:
df_individual_events.head()

,rank,mark,wind,competitor,dob,nationality,position,venue,date,result_score,discipline,type,sex,age_cat,normalized_discipline,track_field,mark_numeric,venue_country,age_at_event,season
0,1,12.72,1.0,Sasha ZHOYA,2002-06-25,FRA,1,"Moi International Sports Centre, Kasarani, Nai...",2021-08-21,NaN,110m-hurdles-990cm,hurdles,male,u20,110-metres-hurdles,track,12.72,KEN,19.0,2021
1,1,12.8,0.3,Aries MERRITT,1985-07-24,USA,1,"Boudewijnstadion, Bruxelles (BEL)",2012-09-07,1294.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.80,BEL,27.0,2012
2,2,12.81,1.8,Grant HOLLOWAY,1997-11-19,USA,1sf1,"Hayward Field, Eugene, OR (USA)",2021-06-26,1292.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.81,USA,23.0,2021
3,3,12.84,1.6,Devon ALLEN,1994-12-12,USA,1,"Icahn Stadium, New York, NY (USA)",2022-06-12,1286.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.84,USA,27.0,2022
4,4,12.86,2.0,Grant HOLLOWAY,1997-11-19,USA,1,"Hayward Field, Eugene, OR (USA)",2024-06-28,1282.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.86,USA,26.0,2024

In [30]:
df_individual_events.to_sql('individual_events', con=engine, if_exists='replace', index=True)

-1

## Importing relay_events

In [31]:
csv_file_path_relay_events = f"{csv_folder_path}relay_events.csv"
df_relay_events = pd.read_csv(csv_file_path_relay_events)
df_relay_events.describe()

              rank  wind  result_score  mark_numeric       season
count  5763.000000   0.0   5211.000000   5763.000000  5763.000000
mean    345.103071   NaN   1182.834389    159.289964  2009.744577
std     284.805879   NaN     34.435899    185.002355    12.511890
min       1.000000   NaN   1029.000000     36.840000  1961.000000
25%      95.000000   NaN   1168.000000     42.660000  2002.000000
50%     264.000000   NaN   1186.000000    115.740000  2013.000000
75%     571.000000   NaN   1203.000000    185.965000  2019.000000
max    1044.000000   NaN   1318.000000   1064.950000  2025.000000

In [32]:
df_relay_events.head()

,rank,mark,wind,competitor,nationality,position,venue,date,result_score,discipline,type,sex,age_cat,normalized_discipline,track_field,mark_numeric,venue_country,season
0,1,36.84,NaN,Jamaica,JAM,1,"Olympic Stadium, London (GBR)",2012-08-11,1318.0,4x100-metres-relay,relays,male,senior,4x100-metres-relay,track,36.84,GBR,2012
1,2,37.04,NaN,Jamaica,JAM,1,"DS, Daegu (KOR)",2011-09-04,1302.0,4x100-metres-relay,relays,male,senior,4x100-metres-relay,track,37.04,KOR,2011
2,3,37.1,NaN,United States,USA,1,"Khalifa International Stadium, Doha (QAT)",2019-10-05,1297.0,4x100-metres-relay,relays,male,senior,4x100-metres-relay,track,37.10,QAT,2019
3,4,37.27,NaN,Jamaica,JAM,1,"Estádio Olímpico, Rio de Janeiro (BRA)",2016-08-19,1283.0,4x100-metres-relay,relays,male,senior,4x100-metres-relay,track,37.27,BRA,2016
4,5,37.31,NaN,Jamaica,JAM,1,"Olympiastadion, Berlin (GER)",2009-08-22,1280.0,4x100-metres-relay,relays,male,senior,4x100-metres-relay,track,37.31,GER,2009

In [33]:
df_relay_events.to_sql('relay_events', con=engine, if_exists='replace', index=True)

-1

## Releasing DB resources

In [34]:
engine.dispose()